<launch>
  <node name="conductor" pkg="pipebot" type="conductor" output="screen" />
  <node name="sensorPub" pkg="pipebot" type="sensorPub.py" output="screen" />
  <node name="accelPub" pkg="pipebot" type="accelPub.py" output="screen" />
  <node name="bodyMotors" pkg="pipebot" type="bodyMotors" output="screen" />
  <node name="neckMotors" pkg="pipebot" type="neckMotors" output="screen" />
</launch>
